{% extends "layout.html" %}

{% block title %}Produkty{% endblock %}

{% block active_products %} active{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product_id, product_name, unit_price, units_in_stock, supplier_name, category_name in products %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ product_name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cena: {{ unit_price }}</li>
                <li class="list-group-item">Dostawca: {{ supplier_name }}</li>
                <li class="list-group-item">Kategoria: {{ category_name }}</li>
            </ul>
            <div class="card-body">
                {% if units_in_stock > 0 %}
                    <a href="{{ url_for('single_product', product_id=product_id) }}" class="card-link">Szczegóły</a>
                {% else %}
                    produkt niedostępny
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
